.container {
  width: min(90vw, 800px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  padding: 1rem;
  margin: 20px;
  outline-offset: -10px;
}

.corner {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #61ff00;
}

.top-left {
  top: -10px;
  left: -10px;
  border-top: none;
  border-left: none;
  transform: rotate(180deg);
}

.top-right {
  top: -10px;
  right: -10px;
  border-top: none;
  border-right: none;
  transform: rotate(180deg);
}

.bottom-left {
  bottom: -10px;
  left: -10px;
  border-bottom: none;
  border-left: none;
  transform: rotate(180deg);
}

.bottom-right {
  bottom: -10px;
  right: -10px;
  border-bottom: none;
  border-right: none;
  transform: rotate(180deg);
}

.hovered {
  fill: #61ff00;
  transition: fill 0.2s linear;
  cursor: pointer;
}

.muscle {
  fill: #666666;
}

.clickableMuscle {
  fill: #666666;
  transition: fill 0.2s linear;
}
